<%- include('header') %>
<%- include('menu') %>

<head>

    <title>Contato</title>
</head>
    
<div>
        
        <div id="quemsomos">
                <br />
    <h3>Contato</h3>
        <p center><b>Pessoal </b></p>
        <br />
            <p>e-mail: 20171189@ielusc.br</p>
            <p>telefone: +55 (47) 9 8816-6561</p>
            <br />

        <p center><b>Social Media</b></p>
        <br />
            <p>Linkedin: <a href="https://www.linkedin.com/in/anacaroli/">@anacaroli</a></p>
            <p>Instagram: <a href="https://www.instagram.com/ana.caroli/?hl=pt-br">@ana.caroli</a></p>
            <p>Pinterest: <a href="https://br.pinterest.com/aacarolina/">@aacarolina</a></p>
            <br />
            <p id="equipe">Ana Amaral :)</p><br />
        </div>
        <br />
        <br />
</div>

<%- include('footer') %>