<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Projeto Faça o Bem</title>
</head>

<footer>
    <div class="direitos">
      Desenvolvido com amor por: <a alt="Vai para a pagina do desenvolvedor Ana Banana" href="#">Ana Banana</a> | Todos os direitos reservados © | <a alt="Vai para a página dos termos de uso" href="termodeuso.html"> Termos de Uso</a> e <a alt="Vai para a página das politicas de privacidade do site" href="politicadeprivacidade.html"> Política de Privacidade</a>.
    </div>
</footer>
    
</body>
</html>
