<%- include('header') %>
<%- include('menu') %>
<body>
<section>
    <div>
        
            <div id="quemsomos">
                <br />
        <h3 id="about">Ana Carolina Amaral</h3>
        <br />
            <p>Oi, prazer! Essa é sua primeira vez aqui? Então, precisamos nos conhecer melhor :)</p>
            
                <p>Meu nome é Ana, tenho 22 anos, moro em Joinville/Santa Catarina. Estou no sexto período da faculdade, cursando Sistemas para Internet no Bom Jesus/IELUSC.</p>
                <br />
                <p>Tudo começou quando percebi que adorava o mundo web, desde design ate mesmo me arriscava em html/css por hobby, foi quando percebi que era a area que eu queria começar uma carreira. </p>
            
                <p>Observando esse cenário, percebeu-se uma deficiência real de desenvolver um website, afim de ajudar na divulgação das necessidades e projetos das instituições que através de uma avaliação e pesquisa, resultou em trabalhos sérios que demonstraram ser de confiança, criando um incentivo à realização do projeto.</p>
            
                <p>Agora nos conte sobre você, vamos iniciar essa jornada juntos!</p>
                <br />
                <p id="equipe">Ana Amaral :)</p>
            </div>
            <br />
            <br /><br /><br /><br /><br />
    </div>
  
</section>
</body>


<%- include('footer') %>
