<%- include('header') %>
<%- include('menu') %>

<head>

    <title>Learn</title>
</head>
    
<div>
        
    <div id="learn">
    <h3 id="formacao">Formaçao</h3>
    <br />
    <div class="container">
      <img src="images/ielusc.png" alt="logo" style="width:110px">
      <p><span>Sistemas para Internet.</span> Bom Jesus/IELUSC</p>
      <p>6º Período</p>
    </div> 
    </div>
        
</div>
<br /><br /><br /><br /><br /> 
<%- include('footer') %>