<div class="menu">
        <nav>
            <a alt="Vai para a p치gina de quem somos" href="/"> About </a> | 
            <a alt="Vai para a p치gina de projetos" href="projetos"> Jobs </a> | 
            <a alt="Vai para a p치gina de aprender" href="learn"> Learn </a> |
            <a alt="Vai para a p치gina de contato" href="contato"> Contato </a> 
        </nav>

    </div>