<%- include('header') %>
<%- include('menu') %>

<head>

    <title>Jobs</title>
</head>
    
<div>
        
    <div id="Jobs">
    <h3 id="formacao">Projeto</h3>
    <br />
    <div class="container">
      <img src="images/facaobem.png" alt="logo" style="width:110px">
      <p><span>Faça o Bem</span> Bom Jesus/IELUSC</p>
      <p>Somos um site que ajuda a divulgar os projetos e as necessidades reais de instituições de confiança que realizam trabalhos voluntários e prestam serviços à comunidade Joinvilense.

        Tudo começou quando percebemos uma grande necessidade de divulgação de trabalhos realizados em instituições voluntárias, que não recebem ajuda suficiente para a demanda das necessidades, devido a falta de conhecimento da comunidade sobre os projetos realizados na cidade, em contrapartida existem pessoas na comunidade que gostam muito de ajudar, porém, tem medo de sua ajuda ser desviada e não chegar a alcançar o objetivo, também empresários que podem abater impostos, porém, desconhecem o trabalho das instituições por falta de divulgação.
        
        Observando esse cenário, percebeu-se uma deficiência real de desenvolver um website, afim de ajudar na divulgação das necessidades e projetos das instituições que através de uma avaliação e pesquisa, resultou em trabalhos sérios que demonstraram ser de confiança, criando um incentivo à realização do projeto.</p>
    </div> 
    </div>
        
</div>
<br /><br /><br /><br /><br /> 
<%- include('footer') %>